<div class="p-4">
  <div class="container">
    <div class="row">
      <img src="./../../assets/UEAT.png" />
    </div>
    <div class="row">
      <div class="col-8">
        <h5>Technical Test</h5>
        <h5>Full-Stack Developer</h5>
        <p><strong>Name: </strong> DYLAN ALEJANDRO LOPEZ ENCISO</p>
      </div>
      <div class="col-4">
        <img src="./../../assets/dylan.jpg" />
      </div>
    </div>
      <br />
      <p>The goal of this test is to learn more about who you are as a developer and your skills. There is no trick or puzzle. We look for people that can write robust and clean code, know the best practices and can work efficiently with their colleagues. We do not expect you to be an expert in all areas. We are looking for one strong area as well as a minimal understanding of other areas. Answer the questions with as many details as you can and if anything is unknown to you or unclear, do not hesitate to mention it in the answer.</p>
      <p>Send your answers by email to btremblay@ueat.io. Also include the code you wrote in a ZIP file with instructions on how to run it.</p>
      <p>Thank you and good luck!</p>

      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h4 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseGeneral" aria-expanded="true" aria-controls="collapseGeneral">
                General
              </button>
            </h4>
          </div>
          <div id="collapseGeneral" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <p><strong>1. What languages, tools and frameworks are you an expert in? What have you learned recently?</strong></p>
              <p>I have 10 years of experience in the .Net platform. I did work from Visual Studio 2003 version until the most recent version Visual Studio 2019. I know deeply the platform, all versions of Framework (1.0, 1.1, 2.0, 3.5, 4.0, 4.5, 5.0, 6.0), and Net Core.</p>
              <p>For 2 years I was learning Node and actually work with it.
                I have more experience as a backend developer than a frontend developer, though I know all development processes in my job backends and frontends developers work separated.</p>
              <p>The frameworks that I Know is Express, Flask, Django, Angular, React. Recently I am learning GraphQL, RabbitMQ, </p>
              <p><strong>2. You have a deadline you must absolutely meet for a customer and you know you will not be able to meet it. How would you handle the situation to make sure the customer is satisfied?</strong></p>
              <p>I would try to explain to the client the reason for the delay, as well as give them a new deadline and make sure that I do not extend beyond that deadline.</p>
              <p><strong>3. What are the top 3 qualities you are looking for in your developer teammates?</strong></p>
              <p>Positive, proactive people who want to work as a team.</p>
              <p><strong>4. What are the top 3 code smells (bad practices) you want to avoid at all cost in your code?</strong></p>
              <p>I believe that the bad name of variables; when we program in many layers, make sure that those layers add value to the solution and are not just "embellished"; Not optimizing the code once it has finished writing and not keeping in mind that the code can always be improved and perfected.</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h4 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFrontend" aria-expanded="false" aria-controls="collapseFrontend">
                Frontend
              </button>
            </h4>
          </div>
          <div id="collapseFrontend" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <p><strong>5. Write a login form component. The user should be asked for an email address and a password. If it matches, the app should display a welcome message. If it does not match, an error should be shown. You can split the component into multiple ones. The password can be hard-coded or use the API from the backend section. You can use a UI library, but make sure to show the usage of CSS flexbox or grid.</strong></p>
              <p>This is the login form project ()</p>
              <p><strong>6. Write tests for the previous login form component with 100% test coverage.</strong></p>
              <p>The project contents account.service.spec.ts, login.component.ts, home.component.ts</p>
              <p><strong>7. How would you protect that login form from bots or hackers?</strong></p>
              <p>For the bots, I would add a captcha image or something type of image validation. For the hackers, I would add a two-step validation with the mobile phone for the website.</p>
              <p><strong>8. Describe the most common security issues a frontend can have and how to make sure to protect against them.</strong></p>
              <p>Cross Site Scripting (XSS), There’s a simple web security solution: don’t return HTML tags to the client. This has the added benefit of defending against HTML injection, a similar attack whereby the attacker injects plain HTML content.</p>
              <p>Injection flaws, the good news is that protecting against injection is “simply” a matter of filtering your input properly and thinking about whether an input can be trusted. But the bad news is that all input needs to be properly filtered, unless it can unquestionably be trusted.</p>
              <p>Broken Authentication, the most straightforward way to avoid this web security vulnerability is to use a framework. You might be able to implement this correctly, but the former is much easier.</p>
              <p><strong>9. What is a Progressive Web App (PWA) and when should you use it?</strong></p>
              <p>PWA stands for progressive web app. This is an app built from the web technologies we all know and love, like HTML, CSS, and JavaScript, but with a feel and functionality that rivals an actual native app. Thanks to a couple of smart additions, you can turn almost any website into a progressive web app. This means that you can build a PWA rather quickly, in regards to a native app that’s pretty difficult to develop. Plus, you can offer all the features of native apps, like push notifications, offline support, and much more.</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h4 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseBackend" aria-expanded="false" aria-controls="collapseBackend">
                Backend
              </button>
            </h4>
          </div>
          <div id="collapseBackend" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <p><strong>10. Write a login API endpoint. You must be able to receive the email address and password and verify if it matches with a password saved in a database. Make sure to split the responsibilities of each class or files like a large application would do.</strong></p>
              <p>The project (Login_Backend) contains a SQLite3 connection, I used this database because is think to be portable as for this requeriments.</p>
              <p><strong>11. Write tests for the previous login API endpoint with 100% test coverage.</strong></p>
              <p>The project contents the class LoginControllerTest</p>
              <p><strong>12. How can you make sure your user passwords are safe?</strong></p>
              <p>The best protection for the data is encryption, and in this project, I used encrypting the password before saving the register in SQLite3 database and before login.</p>
              <p><strong>13. Describe the repository pattern and when it is useful to use it.</strong></p>
              <p>The repository pattern consists of separating the logic that retrieves the data and assigns it to an entity model from the business logic that acts on the model, this allows the business logic to be independent of the type of data that the source layer comprises of data, in short, a repository mediates between the domain and the data mapping layers</p>
              <p><strong>14. What are the pros and cons of using a microservice architecture vs monolithic architecture?</strong></p>
              <p><strong>Monolithic Architecture</strong>The only advantage I see in monolithic architecture is easy to develop, easy to test, easy to deploy and easy to scale. The disadvantages I see is the increase in the size of the web application increases startup time; extensive testing and debugging are required for integrating new code; Continuous Integration and continuous deployment become difficult.</p>
              <p><strong>Microservice Architecture</strong>The advantages I see in microservice architecture are in the big web applications when broken down into smaller services increase code readability; smaller services are easy to develop, integrate, test and debug; The smaller services can be independently developed by different teams with their choice of the technology stack. The disadvantages I see are building Building Microservices based web applications requires web developers, cloud architects, DevOps engineer, Quality Analyst, Project managers, Business Analysts, Product Managers, and lots of other team members that are defined in a scaled agile framework; Making changes in services can become really tough when service is widely being used among other services.</p>
              <p><strong>15. Describe an application architecture you designed or used you are proud of.</strong></p>
              <p>I used microservice architecture in my actual job. The backend part could be write in Net Core 2.1 (as database is in SQL Server) and use DDD for solution architecture; also use Node. The logs are in AWS Cloudwatch for save registry of activities. Use AWS DynamoDB to save NoSQL data. Use AWS Lambda for Serverless functions. And the Net Core/Node application upload to AWS container in docker and deploy in Jenkins. For part frontend use Angular 9, React that its upload in AWS S3 and routing it with AWS Route 53.</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h4 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseInfraestructure" aria-expanded="false" aria-controls="collapseInfraestructure">
                Infraestructure
              </button>
            </h4>
          </div>
          <div id="collapseInfraestructure" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <p><strong>16. Our billing department needs a system to help them bill our customers each month. The application must generate invoices at the beginning of each month based on it’s usage of our products. It can be running with the language and database of your choice. How would you design the infrastructure to make the system robust and reliable? Describe the components and how they would interact together. You can make up any assumptions on how the application works and focus on the infrastructure part.</strong></p>
              <p>I believe that would use Amazon Web Services as IAS (Infrastructure as Service) and all this process would be automated use AWS Task that automated process all information and later with AWS SNS for notification and send the generated invoice to responsibles</p>
              <img src="./../../assets/INFRAESTRUCTURE.png" />
            </div>
          </div>
        </div>
      </div>
  </div>
</div>