﻿<div class="p-4">
  <h1>Welcome</h1>
    <div class="grid">
      <p><strong>User: </strong>{{user.email}}</p>
      <p><strong>Active: </strong>{{user.isActive}}</p>
      <p><strong>Password: </strong>*********</p>
      <p>You're logged in with Angular 10!!</p>
    </div>
</div>
